 :root {

   --gradient: linear-gradient(135deg, #FFFF00, #ff00aa, #6600ff);
   --bg-choose: #351165;

 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Inter', sans-serif;
   background-color: #1A0B2E;
   color: white;
 }


 .img-icon {
   width: 50px;
   height: 50px;
 }

 .menu-btn {
   background: var(--gradient);
   padding: 10px 25px;
   border-radius: 25px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }

 .btn {
   background: var(--gradient);
   padding: 10px 25px;
   border-radius: 25px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }



 #logo-text {
   font-size: 40px;
   font-weight: bold;
   color: white;
   transition: 2s;
 }

 #logo-text:hover {
   font-size: 60px;
   font-weight: bolder;
 }

 #logo-gradiant {
   font-size: 40px;
   font-weight: bold;
   background: var(--gradient);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.2rem 0;
 }

 .nav-links {
   display: flex;
   gap: 2.2rem;
   align-items: center;
 }

 .nav-links a {
   color: white;
   text-decoration: none;

 }


 .banner {
   width: 100%;
   height: 760px;
   background: url("./assets/hero-bg.png");
   background-repeat: no-repeat;
   background-position: top center;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .container {
   max-width: 750px;
   width: 100%;
   height: 750px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

 }

 .inner-circle {
   width: 550px;
   height: 550px;
   background: url("./assets/hero-circle.png");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;


 }

 .mic {
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 2s;
 }

 .mic:hover {
   transform: scale(2.1);
 }


 .badge {
   position: absolute;
   top: 120px;
   right: 100px;
   background: green;
   padding: 5px 12px;
   border-radius: 20px;
   padding: 10px 20px;

 }

 .banner-text {
   font-size: 60px;
   font-weight: bolder;
 }

 .banner-btn {
   display: flex;
   justify-content: center;

 }

 .btn-msg {
   background-color: #1A0B2E;
   padding: 10px 25px;
   border: 2px solid green;
   border-radius: 25px;
   color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }






 /* podcast section*/

 .podcast-text {
   max-width: 1200px;
   color: white;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   gap: 20px;
   margin: 0 auto;
 }

 .podcast-text h1 {
   font-size: 49px;
   font-weight: bold;

 }



 .podcast-card-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   justify-items: center;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
 }

 .podcast-card h1 {
   color: #00FF88;
   transition: 2s;
 }

 .podcast-card h1:hover {
   font-size: 60px;
   color: #ff00aa;
 }




 /*chose section*/
 .choose {
   background-color: #230E3D;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;

 }

 .choos-font {
   font-size: 48px;
   font-weight: bold;
   margin-top: 50px;
   margin-bottom: 30px;
 }

 .choose-card {
   max-width: 1200px;
   width: 100%;
   height: 783px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   gap: 20px;


 }

 .choose-card-1 {
   background-color: var(--bg-choose);
   grid-column: span 1;
   grid-row: span 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;

 }

 .choose-card-2 {
   background-color: var(--bg-choose);
   grid-column: span 2;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;

 }

 .choose-card-3 {
   background-color: var(--bg-choose);
   grid-column: span 2;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;

 }

 .choose-card-4 {
   background-color: var(--bg-choose);
   grid-column: span 2;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;

 }

 .choose-card-5 {
   background-color: var(--bg-choose);
   grid-column: span 1;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;

 }









 /*Feature Episode*/
 .feature {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .episode {
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

 }

 .youtube-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   justify-items: center;
   gap: 30px;

 }

 .youtube-header {
   margin-top: 50px;
   font-size: 48px;
   font-weight: bold;
 }

 .youtube {
   background-color: var(--bg-choose);
   width: 100%;
   position: relative;
   border-radius: 25px;
   padding: 20px;
   margin-top: 30px;
   text-align: left;



 }

 .thumbnail {
  background-color: var(--bg-choose);
   width: 100%;
   display: block;
   transition: 2s;
 }

 .thumbnail:hover {
   width: 120%;
 }

 .play-btn {
   position: absolute;
   top: 20%;
   left: 40%;


   width: 70px;
   height: 70px;
   border-radius: 50%;

   background: var(--gradient);
   color: white;
   font-size: 28px;

   display: flex;
   align-items: center;
   justify-content: center;


 }


 .video-time {
   color: #00FF88;
   text-align: center;
 }

 .thehost {
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 .host-container {
   display: flex;

 }

 .icon {
   display: flex;
   gap: 20px;
 }

 .host-header {
   margin-top: 50px;
   font-size: 48px;
   font-weight: bold;
 }

 .host-description {
   display: flex;
   flex-direction: column;
   gap: 20px;

 }



 /*footer section*/
 .footer-container {
   width: 100%;
   height: 412px;
   background: url("./assets/footer-bg.png");
   background-repeat: no-repeat;
   background-position: top center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;


 }

 .fotter-icon {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   align-items: center;
   gap: 20px;
 }

 .icon-layout {
   display: flex;
   align-items: center;
   gap: 15px;

 }




 /*responsive part*/

 @media screen and (max-width: 576px) {
   nav {
     justify-content: space-between;

   }

   .nav-links {
     display: none;

   }

   .menu-btn {
     width: 20px;
     height: 20px;
     background-image: url('./assets/hamburger-menu.png');
     background-size: cover;
     background-repeat: no-repeat;
     border: none;
     text-indent: -9999px;

   }


   .container {

     width: 100%;
     height: auto;
     padding: 20px;
   }

   .inner-circle {
     width: 350px;
     height: 350px;
   }

   .mic {
     width: 200px;
     height: 200px;
   }

   .badge {
     position: absolute;
     top: 50px;
     right: -10px;

   }

   .banner-text {
     font-size: 36px;
   }

   .podcast-card-container {
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;

   }

   .choose-card {


     height: auto;
     grid-template-columns: 1fr;

   }


   .youtube-container {
     grid-template-columns: 1fr;
   }

   .youtube {
     width: 100%;
   }

   .host-container {
     flex-direction: column;
     gap: 30px;
     text-align: center;
   }

   .icon {
     justify-content: center;
   }

   .fotter-icon {
     grid-template-columns: repeat(2, 1fr);
   }

   .footer-container {
     padding: 20px;
     text-align: center;
   }

 }