 
 :root {
        
    --gradient: linear-gradient(135deg, #FFFF00, #ff00aa, #6600ff);
   
  }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #1A0B2E;
  }

  .btn{
    background: var(--gradient);
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
  }
 

 
#logo-text{
     font-size: 40px;
  font-weight: bold;
  color: white;
}

  #logo-gradiant{
    font-size: 40px;
    font-weight: bold;
    background: var(--gradient);
     -webkit-background-clip: text;
       background-clip: text;
      -webkit-text-fill-color: transparent;
  }
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem 0;
  }

.nav-links {
    display: flex;
    gap: 2.2rem;
    align-items: center;
  }

  .nav-links a {
    color: white;
    text-decoration: none; 
 }

   