 :root {

   --gradient: linear-gradient(135deg, #FFFF00, #ff00aa, #6600ff);

 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
  font-family: 'Inter', sans-serif;
   background-color: #1A0B2E;
   color: white;
 }

 .btn {
   background: var(--gradient);
   padding: 10px 25px;
   border-radius: 25px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }



 #logo-text {
   font-size: 40px;
   font-weight: bold;
   color: white;
 }

 #logo-gradiant {
   font-size: 40px;
   font-weight: bold;
   background: var(--gradient);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.2rem 0;
 }

 .nav-links {
   display: flex;
   gap: 2.2rem;
   align-items: center;
 }

 .nav-links a {
   color: white;
   text-decoration: none;
 }

 .banner {
   width: 100%;
   height: 760px;
   background: url("./assets/hero-bg.png");
   background-repeat: no-repeat;
   background-position: top center;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid red;

 }

 .container {
   width: 750px;
   height: 750px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid red;
 }

 .inner-circle {
   width: 550px;
   height: 550px;
   background: url("./assets/hero-circle.png");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   border: 2px solid red;

 }

 .mic {
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid red;

 }

 .badge {
   position: absolute;
   top: 130px;
   right: 110px;
   background: green;
   padding: 5px 12px;
   border-radius: 20px;
   padding: 10px 20px;


 }


 .banner-text {
   color: white;
   border: 2px solid red;
 }

 .banner-text h1{
  font-size: 60px;
  font-weight:bolder;
 }

 .banner-btn {
   display: flex;
   justify-content: center;
   border: 2px solid red;
 }

 .btn-msg {
   background-color: #1A0B2E;
   padding: 10px 25px;
   border: 2px solid green;
   border-radius: 25px;
   color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }






 /* podcast section*/

 .podcast-text{
max-width: 1200px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
 }
  .podcast-text h1{
font-size: 49px;
font-weight: bold;
 }

 .podcast-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  text-align: center;
  margin-top: 100px;
 }

  .podcast-card h1{
 color: #00FF88;
 }