 :root {

   --gradient: linear-gradient(135deg, #FFFF00, #ff00aa, #6600ff);
   --bg-choose: #351165;

 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Inter', sans-serif;
   background-color: #1A0B2E;
   color: white;
 }


 .img-icon {
   width: 50px;
   height: 50px;
 }


 .btn {
   background: var(--gradient);
   padding: 10px 25px;
   border-radius: 25px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }



 #logo-text {
   font-size: 40px;
   font-weight: bold;
   color: white;
 }

 #logo-gradiant {
   font-size: 40px;
   font-weight: bold;
   background: var(--gradient);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.2rem 0;
 }

 .nav-links {
   display: flex;
   gap: 2.2rem;
   align-items: center;
 }

 .nav-links a {
   color: white;
   text-decoration: none;
 }

 .banner {
   width: 100%;
   height: 760px;
   background: url("./assets/hero-bg.png");
   background-repeat: no-repeat;
   background-position: top center;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid red;

 }

 .container {
   width: 750px;
   height: 750px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid red;
 }

 .inner-circle {
   width: 550px;
   height: 550px;
   background: url("./assets/hero-circle.png");
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   border: 2px solid red;

 }

 .mic {
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid red;

 }

 .badge {
   position: absolute;
   top: 120px;
   right: 100px;
   background: green;
   padding: 5px 12px;
   border-radius: 20px;
   padding: 10px 20px;
   border
 }


 .banner-text {
   color: white;
   border: 2px solid red;
 }

 .banner-text h1 {
   font-size: 60px;
   font-weight: bolder;
 }

 .banner-btn {
   display: flex;
   justify-content: center;
   border: 2px solid red;
 }

 .btn-msg {
   background-color: #1A0B2E;
   padding: 10px 25px;
   border: 2px solid green;
   border-radius: 25px;
   color: green;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;

 }






 /* podcast section*/

 .podcast-text {
   max-width: 1200px;
   color: white;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   gap: 20px;
   margin: 0 auto;
 }

 .podcast-text h1 {
   font-size: 49px;
   font-weight: bold;
 }

 .podcast-card-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   justify-items: center;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
 }

 .podcast-card h1 {
   color: #00FF88;
 }





 /*chose section*/
 .choose {
   background-color: #230E3D;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;

 }

 .choose-font {
   font-size: 48px;
   font-weight: bold;
 }

 .choose-card {
   width: 1200px;
   height: 783px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   border: 2px solid red;
   gap: 20px;


 }

 .choose-card-1 {
   background-color: var(--bg-choose);
   grid-column: span 1;
   grid-row: span 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   border: 2px solid red;
 }

 .choose-card-2 {
   background-color: var(--bg-choose);
   grid-column: span 2;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   border: 2px solid red;
 }

 .choose-card-3 {
   background-color: var(--bg-choose);
   grid-column: span 2;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   border: 2px solid red;
 }

 .choose-card-4 {
   background-color: var(--bg-choose);
   grid-column: span 2;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   border: 2px solid red;
 }

 .choose-card-5 {
   background-color: var(--bg-choose);
   grid-column: span 1;
   grid-row: span 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   border-radius: 20px;
   border: 2px solid red;
 }









 /*Feature Episode*/


 .episode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid red;
 }

 .youtube-container{
  display:  grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  
 }

.youtube {
  background-color: var(--bg-choose);
  width: 320px;
  position: relative;
  border-radius: 25px;
  text-align: left;
  border: 2px solid red;
  
 
}

.thumbnail {
  width: 100%;
  display: block;  
  
}



.play-btn {
  position: absolute;
  top: 20%;
  left: 40%;

  
  width: 70px;
  height: 70px;
  border-radius: 50%;

  background: var(--gradient);
  color: white;
  font-size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
 
}

.video-time{
  color: #00FF88;
  text-align: center;
}